{% extends 'base.html.twig' %}
{% import _self as self %}
{% macro renderWeightProduct(weightProduct) %}
    <div id="{{ weightProduct.vars.id }}" class="row form-group product">
        <div class="col-sm-7">{{ form_widget(weightProduct.product) }}</div>
        <div class="col-xs-2 qty">{{ form_widget(weightProduct.weight) }}</div>
        <div class="col-xs-1 delete">{{ form_widget(weightProduct.removeWeightProduct) }}</div>
    </div>
{% endmacro %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_label(form.weightProducts) }}

    <div id="{{ form.weightProducts.vars.id }}"
         class="col col-lg-12"
         data-prototype="{{ self.renderWeightProduct(form.weightProducts.vars.prototype)|e('html') }}">

        {% for weightProduct in form.weightProducts %}
            {{ self.renderWeightProduct(weightProduct) }}
        {% endfor %}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
    <script>
        jQuery(document).ready(function ($) {
            $('form').on('click', '.addWeightProduct', function (e) {
                e.preventDefault();

                let $collectionHolder = $('#{{ form.weightProducts.vars.id }}');
                let index = $collectionHolder.data('index') || $collectionHolder.find(':input').length;
                let prototype = $collectionHolder.data('prototype').replace(/__product__/g, index);

                $collectionHolder.data('index', index + 1).append($(prototype));
            }).on('click', '.removeWeightProduct', function () {
                $(this).parent().parent().remove();
            })
        });
    </script>
{% endblock %}
