{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Danie</th>
            <th>Liczba kalorii</th>
            <th>Produkty</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ meal.name }}</td>
            <td>{{ mealCalories }} kcal</td>
            <td>
                <table>
                    {% for name, productCalories in productsCalories %}
                        <tr>
                            <td>
                                {{ name }}: {{ productCalories.weight }}g ({{ productCalories.calories }} kcal)
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tbody>
    </table>
{% endblock %}
