{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path("meal_add") }}" role="button">Dodaj Danie</a>
    {% if meals is not empty %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Danie</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for meal in meals %}
                <tr>
                    <td>{{ meal.id }}</td>
                    <td>{{ meal.name }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path("meal_details", {'meal': meal.id}) }}" role="button">Szczegóły</a>
                        <a class="btn btn-primary" href="{{ path("meal_edit", {'meal': meal.id}) }}" role="button">Edytuj</a>
                        <a class="btn btn-danger delete-button" href="{{ path("meal_delete", {'meal': meal.id}) }}" role="button">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% include "/templates/confirmation-dialog-template.html.twig" %}
    {% include "/templates/alert-dialog-template.html.twig" %}
{% endblock %}
