{% extends 'base.html.twig' %}
{% import _self as self %}
{% macro renderDayTimeMeal(dayTimeMeal) %}
    <div id="{{ dayTimeMeal.vars.id }}" class="row form-group product">
        <div class="col-xs-2">{{ form_widget(dayTimeMeal.dayTime) }}</div>
        <div class="col-sm-7 qty">{{ form_widget(dayTimeMeal.meal) }}</div>
        <div class="col-xs-1 delete">{{ form_widget(dayTimeMeal.removeDayTimeMeal) }}</div>
    </div>
{% endmacro %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.day) }}
    {{ form_label(form.dayTimeMeals) }}

    <div id="{{ form.dayTimeMeals.vars.id }}"
         class="col col-lg-12"
         data-prototype="{{ self.renderDayTimeMeal(form.dayTimeMeals.vars.prototype)|e('html') }}">

        {% for dayTimeMeal in form.dayTimeMeals %}
            {{ self.renderDayTimeMeal(dayTimeMeal) }}
        {% endfor %}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
    <script>
        jQuery(document).ready(function ($) {
            $('form').on('click', '.addDayTimeMeal', function (e) {
                e.preventDefault();

                let $collectionHolder = $('#{{ form.dayTimeMeals.vars.id }}');
                let index = $collectionHolder.data('index') || $collectionHolder.find(':input').length;
                let prototype = $collectionHolder.data('prototype').replace(/__meal__/g, index);

                $collectionHolder.data('index', index + 1).append($(prototype));
            }).on('click', '.removeDayTimeMeal', function () {
                $(this).parent().parent().remove();
            })
        });
    </script>
{% endblock %}
