{% extends 'base.html.twig' %}
{% import _self as self %}
{% macro renderDayTimeMeal(dayTimeMeal) %}
    <div id="{{ dayTimeMeal.vars.id }}" class="row form-group product">
        <div class="col-xs-2">{{ form_widget(dayTimeMeal.dayTime) }}</div>
        <div class="col-sm-7 qty">{{ form_widget(dayTimeMeal.meals) }}</div>
        <div class="col-xs-1 delete">{{ form_widget(dayTimeMeal.removeDayTimeMeal) }}</div>
    </div>
{% endmacro %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-4">
            {{ form_row(form.day, {'attr': {'style': 'width:150', 'placeholder': 'RRRR-MM-DD'}}) }}
        </div>
    </div>
    {{ form_label(form.dayTimeMeals) }}

    <div id="{{ form.dayTimeMeals.vars.id }}"
         class="col col-lg-12"
         data-prototype="{{ self.renderDayTimeMeal(form.dayTimeMeals.vars.prototype)|e('html') }}">

        {% for dayTimeMeal in form.dayTimeMeals %}
            {{ self.renderDayTimeMeal(dayTimeMeal) }}
        {% endfor %}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
    <script>
        jQuery(document).ready(function ($) {
            $('form').on('click', '.addDayTimeMeal', function (e) {
                e.preventDefault();

                let $collectionHolder = $('#{{ form.dayTimeMeals.vars.id }}');
                let index = $collectionHolder.data('index') || $collectionHolder.find(':input').length;
                let prototype = $collectionHolder.data('prototype').replace(/__meal__/g, index);

                $collectionHolder.data('index', index + 1).append($(prototype));

                $('#{{ form.dayTimeMeals.vars.id }}').find('select').each(function () {
                    $(this).select2({
                        placeholder: "Wybierz dania"
                    });
                });
            }).on('click', '.removeDayTimeMeal', function () {
                $(this).parent().parent().remove();
            }).on("submit", function () {
                if (areDayTimeDuplicates() == false) {
                    alert("Proszę sprawdzić, czy nie powtarzają się pory posiłków. Każda pora może występować tylko raz");
                    return false;
                }
            });

            $('#{{ form.dayTimeMeals.vars.id }}').find('select').each(function () {
                $(this).select2({
                    placeholder: "Wybierz dania"
                });
            });

            function areDayTimeDuplicates() {
                var selected = [];
                $('.day-time option:selected').each(function () {
                    selected.push(this.value);
                });

                var sorted_selected = selected.slice().sort();
                for (var i = 0; i < sorted_selected.length - 1; i++) {
                    if (sorted_selected[i + 1] == sorted_selected[i]) {
                        return false;
                    }
                }
            }
        });
    </script>
{% endblock %}
