{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ path("day_add") }}" role="button" style="margin-bottom: 15px">Dodaj Dzień</a>
    {% if days is not empty %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Dzień</th>
                <th>Dzień tygodnia</th>
                <th>Kalorie dzienne</th>
                <th>Pora dnia/danie</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for day in days %}
                <tr>
                    <td>{{ day.day.format("Y-m-d") }}</td>
                    <td>{{ ("diet.meal.weekdays." ~day.day|date('l')) |trans }}</td>
                    <td>
                        {% for key, calories in dayCalories %}
                            {% if day.id == key %}
                                {{ calories }} kcal
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    {% set dayTimes = [] %}
                                    {% for dayTimeMeal in day.dayTimeMeals %}
                                        {% set dayTimes = dayTimes|merge([dayTimeMeal.dayTime]) %}
                                    {% endfor %}

                                    {% for dayTime in dayTimes|sort %}
                                        {% for dayTimeMeal in day.dayTimeMeals %}
                                            {% if dayTime == dayTimeMeal.dayTime %}
                                                <b>{{ ("diet.meal.day_times." ~dayTime) |trans }}:</b><br>
                                                {% for meal in dayTimeMeal.meals %}
                                                    {{ meal }} <br>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path("day_edit", {'day': day.id}) }}"
                           role="button">Edytuj</a>
                        <a class="btn btn-danger" href="{{ path("day_delete", {'day': day.id}) }}"
                           onclick="return confirm('Na pewno chcesz usunąć ten dzień?')" role="button">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
